:root {

  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  
  --bg: #FFF81A;
  --bgCarro : #6459f8;
  --bgInput : #f6f6f6;
  --fondoGris: #d7d7d7;
  --border : #929292;
  --colorBoton : #0454ff;
  --letraSecundaria: #fff;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  width: 100%;
  margin: 0 auto;
}

/*Generales ===============================================*/
header{
  background-color: var(--bg);
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

/*Header  ===============================================*/
header{
  top: 0;
  margin: 0;
  position:fixed;
}

img{
  height: 4rem;
  width: 3rem;
}

.botones-generales{
  width: 7rem;
  display: flex;
  justify-content: space-around;
}

.enlace-carrito{
  text-decoration: none;
  font-size: 1.5rem;
}

.indicador-carrito{
  background-color: var(--bgCarro);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  position:relative;
  left: calc(100% - 1rem);
  top: .7rem;
  color: var(--letraSecundaria);
  font-size: .9rem;
  text-align: center;
}

.nav-de-auth{
  width: 100%;
  margin-top: 4rem;
  border: var(--border) 2px solid;
}

.nav-de-auth > button{
  margin: 0.5rem;
}

.bienvenido{
  display: block;
  background-color: var(--bg);
}

.mensaje-bienv{
  justify-content: center;
  display: flex;
  padding-top: .5rem;
}

.picture{
  display: flex;
  background-color: var(--border);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.mensajes > h4,
.mensajes > p{
  margin: 0;
  text-align: center;
}

.botones-auth{
  display: flex;
  width: 100%;
  justify-content: center;
}

.botones-auth > button{
  margin: 1rem;
}

/*Buscador =================================================*/
.buscador{
  text-align: center;
}

input{
  padding-left: 1rem;
  width: 400px;
  color: var(--color_letra);
  outline: none;
}

input,
button{
  margin-top: .5rem;
  height: 2rem;
  border: none;
  background-color: var(--bgInput);
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
}

button{
  padding-bottom: 3px;
  margin-right: -8px;
}

button:hover{
  cursor: pointer;
}

/*Catalogo =================================================*/
.catalogo{
  width: 80%;
  margin: 5rem auto 1rem;
}

/*Producto =================================================*/
.producto{
  border: solid var(--border) 1px;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.producto:hover{
  box-shadow: .2rem .2rem var(--border);
}

.producto > img{
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}

.producto > button{
  width: 80%;
  height: 2.5rem;
  margin: 1rem -1rem;
  background-color: var(--colorBoton);
  color: #fff;
}

.producto > section{
  display: flex;
  justify-content: space-around;
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.description{
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

/*Descripcion del Producto =====================================*/
.product-desc{
  width: 80%;
  margin: 5rem auto;
  border: solid var(--border) 2px;
  border-radius: 1rem;
}

.product-desc > img{
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
}

.botones > button{
  background-color: var(--colorBoton);
  color: #fff;
  align-items: center;
}

.product-desc > section{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

/*Detalles del carrito =========================================*/
td > p{
  margin: 0;
}

.carro-vacio > img{
  width:10rem;
  height: 10rem;
}

.pre-compra{
  text-align: center;
  background-color: var(--fondoGris);
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
}

.pre-compra > button{
  margin-bottom: 1rem;
}

/*Paginacion ================================================*/
.active{
  background-color: var(--border);
}

nav .lista-paginas{
  width: 80%;
  margin: 0.8rem auto;
}

.lista-paginas{
  display: flex;
  gap: .2rem;
  font-size: 1.2rem;
}

.lista-paginas > li{
  list-style: none;
  width: 1.5rem;
  border-radius: 50%;
  border: var(--border) 1px solid;
  text-align: center;
  font-weight: 600;
}

li > a{
  text-decoration: none;
  color: black;
}

.lista-paginas > li:hover{
  background-color: #d7d7d7;
  cursor: pointer;
}

.desktop{
  display: none;
}

/*Medias Query ================================================*/
@media (min-width: 1024px) {
  .catalogo{
    width: 80%;
    margin: 5rem auto 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .product-desc{
    width: 50%;
  }

  .desktop{
    display: block;
  }

  .movil{
    display: none;
  }
}