:root {

  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  
  --bg: #FFF81A;
  --bgInput : #f6f6f6;
  --border : #929292;
  --colorBoton : #0454ff;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  width: 100%;
  margin: 0 auto;
}

/*Header  ===============================================*/
img{
  height: 4rem;
  width: 3rem;
}

/*Generales ===============================================*/
header{
  background-color: var(--bg);
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
}

/*Buscador =================================================*/
.buscador{
  text-align: center;
}

input{
  padding-left: 1rem;
  width: 400px;
  color: var(--color_letra);
  outline: none;
}

input,
button{
  margin-top: .5rem;
  height: 2rem;
  border: none;
  background-color: var(--bgInput);
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
}

button{
  padding-bottom: 3px;
  margin-right: -8px;
}

button:hover{
  cursor: pointer;
}

/*Catalogo =================================================*/
.catalogo{
  width: 80%;
  margin: 2rem auto;
}

/*Producto =================================================*/
.producto{
  border: solid var(--border) 1px;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.producto:hover{
  box-shadow: .2rem .2rem var(--border);
}

.producto > img{
  width: 100%;
  height: 15rem;
  border-radius: 1rem;
}

.producto > button{
  width: 80%;
  height: 2.5rem;
  margin: 1rem -1rem;
  background-color: var(--colorBoton);
  color: #fff;
}

.producto > section{
  display: flex;
  justify-content: space-around;
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.description{
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

/*Descripcion del Producto =================================================*/
.product-desc{
  width: 80%;
  margin: 1rem auto;
  border: solid var(--border) 2px;
  border-radius: 1rem;
}

.product-desc > img{
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
}

.botones > button{
  background-color: var(--colorBoton);
  color: #fff;
  align-items: center;
}

.product-desc > section{
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

@media (min-width: 1024px) {
  .catalogo{
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .product-desc{
    width: 50%;
  }
}